@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply flex items-center justify-center text-sm font-semibold text-white bg-primary-600 hover:bg-primary-700 px-6 py-2.5 rounded-xl transition-all shadow-sm hover:shadow-md active:scale-95 cursor-pointer select-none;
  }
}

body {
  @apply font-sans bg-slate-50 text-slate-900 antialiased;
  font-family: 'Inter', sans-serif;
}

a, button {
  user-select: none;
  -webkit-user-select: none;
}